name: loki-with-grafana
services:
  loki:
    build: ./loki
    ports:
      - 3100:3100
    volumes:
      - loki-data:/loki
  grafana:
    build: ./grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - 3000:3000
    volumes:
      - grafana-data:/var/lib/grafana
volumes:
  loki-data:
  grafana-data:
